.workers-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    align-self: center;
    max-width: 1309px;
    position: relative;

    .companies-section {
        width: 100%;
        max-width: 1245px;
        height: 159px;
        border-radius: 20px;
        background: #FFFFFF;
        box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
        display: flex;
        overflow-x: auto;
        padding: 25px 29px 0;
    }

    .workers-section {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 35px;
        margin: 32px 0 12px;

        .company-description {
            width: 100%;
            max-width: 447px;
            min-height: 484px;
            max-height: 484px;
            background: #FFFFFF;
            box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            padding: 26px 16px;

            span {
                font-family: 'Ubuntu';
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #707070;
            }
        }
    }
    
    .shadow-image {
        position: absolute;
        bottom: 0;
        left: 20px;
    }
}